<header>
    <nav class="bg-stone-100 p-3 flex">
        <a class="font-medium text-xl mr-auto" href="/">EJS</a>
        <ul class="inline-flex">
            <li class="px-4">
                <a href="/">Home</a>
            </li>
            <li class="px-4">
                <a href="/sobre">About</a>
            </li>
        </ul>
    </nav>
    <p>Página: <%= typeof pagina != 'undefined' ? pagina: 'Home' %></p>
</header>