<header>
    <nav class="bg-stone-100 p-3 flex">
        <a class="font-medium text-xl" href="/">EJS</a>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/sobre">About</a>
            </li>
        </ul>
    </nav>
</header>